{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/1.png' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Kurs 1</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem
                    minus nulla nobis odit blanditiis numquam!</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>